.container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 16px;
	gap: 8px;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #888;
	font-family: Inter;
	font-size: 9px;
	font-style: normal;
	font-weight: 500;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: #fff;
}

.text {
	color: #fff;
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%; /* 24px */
	letter-spacing: -0.2px;
	text-align: center
}
