.container {
	background-color: #fff;
	width: 100%;
	border-radius: 16px;
	padding: 20px 0;
}

.header {
	text-align: center;
	margin: 0 16px;
	color: #313131;
	font-size: 26px;
	font-weight: 600;
	line-height: 120%; /* 31.2px */
	letter-spacing: -0.26px;
	position: relative;
}

@media (max-width: 374px) {
	.header {
		font-size: 22px;
	}
}

.header button {
	position: absolute;
	left: 0;
	top: 2px;
}

.text {
	padding: 0 16px;
	color: #333;

	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px; /* 133.333% */
	letter-spacing: -0.5px;

	margin: 24px 0 0 0;
}

.text span {
	position: relative;
	color: #0085e2;
}

.text span:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #0085e2;
}
